body {
  background-image:url(backround/main_backround.jpg);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
section{
  background-image: url(backround/card_black.jpg);
  background-size: cover;
  display: flex;
  border-radius: 25px;
  width: auto;
}
p{
  color: #ddd;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    width: auto;
    display: flex;
    justify-content:space-between;
    background:#000000;
    padding:auto;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  text-align: center;
  width: auto;
  border-radius: 25px;
}
h2{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ddd;
}

.kontak-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

img {
  size: auto ;
  border-radius: 25px;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom:10px ;
  float: left;
}

.info {
  max-width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: aqua;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #cb10c2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cb10c2;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #cb10c2;
  color:#010101;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.split {
  height:auto;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 100px;
  overflow-x: hidden;
 
}
.left {
  left: 0;
  align-items: center;
}

.right {
  right: 0;
}